@model IEnumerable<ArtigoUnity.Web.Mvc.Models.LivroModelConsulta>

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Listar</title>

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </head>
    <body>
        <p>
            @Html.ActionLink("Voltar ao Menu Principal", "Index", "Sitio");
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Editora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Isbn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sinopse)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autor)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Editora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Isbn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sinopse)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor)
                        </td>
                    </tr>
                }
           </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Quantidade: @Model.ToList().Count</td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
